<!-- templates/user/list.html -->
{% extends "base.html" %}

{% block title %}Messages List{% endblock %}
{% block header %}Messages List{% endblock %}

{% block content %}
<ul class="list-group">
    {% for msg in msgs %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ url_for('tg.msg_detail', id=msg.id) }}">
                <div>
                    <small class="text-muted">{{ msg.username }}</small>
                    <small class="text-muted">{{ msg.text }}</small>
                    <small class="text-muted">{{ msg.date }}</small>
                </div>
            </a>
        </li>
    {% else %}
        <li class="list-group-item">No users found.</li>
    {% endfor %}
</ul>
{% endblock %}
